:root {
  --light-blue: black;
  --light-purple: #6a5af9;
  --dark-purple: black;
  --green: #5ae9b9;
  --navy: #1c4dd7;
  --blue2: #10769d;
  --blue3: #3b82f5;

}

body,html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: 'Lato', sans-serif;
  color:#d3d3d3;
}

