.about-me {
    height: fit-content;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* * {
    border:1px solid red;
} */

.about-banner-image { 
    background-image: url('https://burtscriptor.github.io/portfolio-images/bridge.jpg');
    background-size: cover;
    background-position: center;
    height: 40vmin;
    width: 100%;
}

.about-header h1 {
    font-size: 8vmin;
    color: var(--light-blue)
}

.about-profile-pic img {
    height: 30vmin;
}


.invisible {
    opacity: 0;
}

.home-punchline h2 {
    margin-top: 10vmin;
}

.about-me-text {
    height: fit-content;
    width: fit-content;
    padding-top: 5vmin;
    padding-left: 40vmin;
    padding-right:40vmin;
    display:grid;
    grid-template-rows: auto 1fr;
    
}

.about-me-text-container-one {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.about-me-text-container-one p {
    color: var(--light-purple);
}

.about-me-text-container-one h2 {
    font-size: 6vmin;
    padding-top: 1vmin;
}

.about-me-text-container-two {
    display: grid;
    grid-template-columns: auto 1fr;
}

.child-one, .child-two {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-top: 3vmin;
}

.child-one {
    gap:4vmin;
}

.links {
    display:flex;
    justify-content: left;
    width: 100%;
}

.links a {
    font-size: 2vmin;
}

.child-one p {
    text-align: left;
    line-height: 3vmin;
    font-size: 2vmin;
    color:black;
}

.child-two {
    align-items: end;
    padding-left: 10vmin;
}

.child-two img {
    height: 30vmin;
}

.transferable-skills {
    margin-top: 5vmin;
    height: fit-content;
    width: fit-content;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    display:flex;
    flex-direction:column;
    justify-content: center;
    
}
.skills-header {
    width: 100%;
    padding-bottom: 2vmin;
}
.skills-header h2 {
    width: 100%;
    text-align: left;
    font-size: 6vmin;
    padding-top: 1vmin;
}

.skills-header p {
    text-align: left;
    color: var(--light-purple)
}

.skill-cards {
    display:grid;
    grid-template-columns: 20vmin 20vmin 20vmin 20vmin;
    gap:5vmin;
}

.skill-card p {
    font-size: 2vmin;
    color:white;
}

.skill-card {
    width: 22vmin;
    height: 25vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border:0.1vmin solid;
   border-color:var(--green);
    padding: 15px;
  border-radius: 15px; 
  background: linear-gradient(45deg, var(--green), var(--light-blue)); 
  box-shadow: 25px 50px 200px 10px rgb(0,0,0,0.3);
}


.skill-card::before {
    content: '';
    top: -5px; 
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: inherit; 
    background: white; 
    z-index: -1;
  }


.skill-card img {
    height:6vmin;
    width: 6vmin;
}

.technology-container {
    display:grid;
    grid-template-rows: auto 1fr;
    max-width: 80vmin;
    padding:5vmin;
}

.technology-header p {
    font-size: 1.5vmin;
    color: var(--light-purple);
}

.technology-header h2 {
    font-size: 5vmin;
    padding-top:1.5vmin;
}

.technology-icons {
    padding-top: 4vmin;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:3.2vmin;
}

.technology-icon {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height:14vmin;
    width: 14vmin;
    border:0.3vmin solid var(--light-purple);
    border-radius: 15px;
}

.technology-icon p {
    font-size: 2vmin;
    color:black;
    z-index: 99999;
}

.technology-icon img {
    height:12vmin;
    width: 12vmin;
    position: absolute;
    padding:2vmin;
}

.display-over img {
   opacity: 0.3;
}

.invisible-text {
    opacity: 0;
}

.icon-text-display-over {
   position: absolute;
}
