.com {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.com-header {
    margin-top: 4vmin;
    font-size: 1.5vmin;
}


.com-container {
    margin-top:2vmin;
    margin-bottom: 10vmin;
    width: fit-content;
    height: fit-content;
    display: grid;
    justify-content: center;
    gap:5vmin;
    padding:5vmin;
    grid-template-rows: 22vmin 22vmin;
    grid-template-columns: 30vmin 30vmin 30vmin;
    color:white;
    border-radius: 17px;
    border:0.2vmin solid lightgray;
}

.com-child {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
    background-color: var(--light-blue);
}


.com-child img {
   height: 100%;
   width: 90%;
}



@media (max-width: 1750px) {
    .com-container {
        grid-template-columns: 22vmin 22vmin 22vmin;
        grid-template-rows: 15vmin 15vmin ;
        gap:2vmin;
        padding:2vmin;
    }

}
