/* #3b28d1 #6a5af9*/
button {
   border:0.2vmin solid white;
    margin-top: 5vmin;
    background: linear-gradient(45deg, var(--green), var(--light-blue));
    border: none;
    border-radius: 50px;
    color: white;
    padding: 2vmin 4vmin;
    font-size: 2vmin;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover,
button:focus {
   
    background: linear-gradient(45deg, #5a47e3, #2e1bbd);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border: 0.2vmin solid red;
}

button:active {
    background: linear-gradient(45deg, #4e3cb4, #261083);
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}