
.home {
    padding:0;
    margin: 0;
    height: 100dvh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
   
}

.home-container {
    display: flex;
    flex-direction: column;
}

.home-punchline p {
 margin-bottom: 2vmin;
    font-size: 4vmin;
    color: var(--light-blue);
}


.home-punchline h2 {
    width: 100%;
    text-align: center;
    font-size: 6vmin;
    height: fit-content;
}

.home-punchline h3 {
    font-size: 3vmin ;
    margin-top: 2vmin;
    font-family: 'Lato', sans-serif;
}

.home-image {
    margin-top: 4vmin;
}

.home-image img {
    height: 30vmin;
}

@media (max-width:700px) {
    .home {
        height: 50dvh;
    }
}