.investImageContainer img {
    height:100px;
    width: 100px;
    display:flex;
    gap:100px;
}

.investImageContainer {
    height: 400px;
    width:1200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
}

.imageSquare {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-bottom-left-radius: 15%;
}

@media (max-width:990px) {
    .investImageContainer {
        display:flex;
        flex-direction: row;
        height: 70%;
        flex-wrap: wrap;
    }
    
    #makeSmallH1 {
        font-size:2rem;
        color:red;
    }
}