.services {
    background-color:black;
    height: 60dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
    border-top-left-radius: 15%;
}

.servicesHeader h2 {
    margin-top: 50px;
}

.servicesContent {
    height: 80%;
    width: 80%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:50px;
}

.serviceBox {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 80%;
}

.serviceBox h3 {
    color:#FFA500;
}

.first {
    background-color: #b91c1b;
}

.second {
    background-color: #c3410b;
}

.third {
    background-color: #1c4ed7;
}

.serviceBox p {
    padding: 25px;
    text-align: justify;
}

.serviceIcon{
    height: 60px;
    margin:10px;
    margin-top: 25px;
}

@media (max-width:1140px){
    .services {
        height: fit-content;
    }
    .servicesContent {
        flex-direction: column;
    }

    .servicesHeader h2 {
        margin: 20px;

    }
}