/* skills.jsx */

.tran-skills {
    height: 30dvh;
    width: 100%;
    background-color: var(--light-purple);
    display:flex;
    flex-direction: column;
}

.tran-skills-header h2 {
    width: 100%;
    text-align: left;
    margin-left: 5vmin;
    font-size: 5vmin;
    color: white;
}

.tran-skills-header {
    margin-top: 2vmin;
}

.colortext2 {
    font-size:4vmin;
}

.skills-container {
    margin-top: 5vmin;
    display:flex;
    flex-direction: row;
}




/* Latest myStory */

.my-story {
    padding:0;
    margin: 0;
    height: 100dvh;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    background: linear-gradient(to bottom, var(--light-purple) 50%, white 50%);
}


.about-header h1 {
    color: white;
    font-size: 4vmin;
}

.me-image {
    margin-top: 5vmin;
    width: 60vmin;
    background-size: cover;    /* Scales the image to cover the entire div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;  /* Centers the image within the div */
    background-image: url('../assets/story/dave&cat.jpg');
    height: 40vmin;
    background-color: white;
    box-shadow: inset 0 0 0 0.2vmin white; 
    border-radius: 15px;
}


.me-text {
    display:flex;
    flex-direction: column;
    width: 60%;
    gap:2vmin;
    margin-top: 8vmin;
}

.me-text p {
    font-size: 2vmin;
    text-align: left;
    line-height: 3vmin;
    color: black;
}


.drop-cap::first-letter {
    font-size: 5vmin; /* Adjust this to make the letter larger or smaller */
    font-weight: bold;
    float: left;
    line-height: 0.8;
    margin-right: 0.1em;
    color: #000; /* Color for the drop cap */
}

@media (max-width:1135px) {
    .skills-container {
        flex-direction: column;
        margin-top: 1vmin;
    }
    .tran-skills-header {
        margin-top: 4vmin;
    }
}


@media (max-width:830px) {
    .me-image {
        height: 40%;
    }
}

@media (max-width:656px) {
    .tran-skills {
        height: 40dvh;
    }

    .tran-skills-header h2 {
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width:450px) {
    .tran-skills {
        height: 30dvh;
    }
}