* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.projects {
    height: fit-content;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:2vmin;
    
}

.projects_header h2 {
    font-size: 6vmin;
}

.project_selector {
    width: 85vmin;
    height: 5vmin;
    display:flex;
    flex-direction: row;
    border-radius:15px;
    padding-left: 2vmin;
    padding-right: 2vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
}
.project_selector div {
    font-size: 2vmin;
}

.cards {
    flex: 1;
    width: fit-content;
    padding-left: 2vmin;
    padding-right: 2vmin;
    font-size: 2vmin;
    color:var(--navy)
}

.cards:hover {
    flex:2 ;
    text-decoration: underline;
    border-right: 0.1vmin solid black;
    cursor: pointer;
}

.highlight {
    flex:2 ;
    text-decoration: underline;
    border-right: 0.1vmin solid black;
}

.project_container {
    border-radius: 12px;
    width: 95%;
    height: fit-content;
    margin-left: 2vmin;
    margin-right: 2vmin;
    padding-bottom: 4vmin;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    margin-bottom: 5vmin;
}

.p_c_child_left, .p_c_child_right {
    display:flex;
    flex-direction: row;
    color:white;   
}

.p_c_child_left {
    display:flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    padding-left: 5vmin;
    padding-right: 5vmin;
}

.text_container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.next_button {
    display: flex;
    justify-content: center;
    align-items: center;
}


.next_button span{
    border:0.2vmin solid white;
    width: 4vmin;
    opacity: 1;
}

.upper_span_left {
    transform: translateY(-2.8vmin) rotate(-45deg);
}

.lower_span_left {
    transform: translateX(-4vmin) rotate(230deg);
}

 .upper_span_right {
    transform: translateY(-7vmin) rotate(45deg) translateX(6vmin);
}


.lower_span_right {
    transform: rotate(-230deg) translateX(0vmin) translateY(-0.3vmin);
}

.project_text {
    display: flex;
    flex-direction: column;
}

.project_image {
    display:flex;
    box-shadow: 0px 8px 16px rgb(255, 255, 255, 0.6);
    border-radius: 15px;
    margin-bottom: 4vmin;
    padding: 2vmin;
}

.project_image img {
   width: 40vmin;
   height: 20vmin;
}

.project_image img:hover {
    scale: 1.5;
}

.project_title h4 {
    font-size:5vmin;
    margin: 0; 
}

.project_link_icons {
    display: flex;
    gap: 2vmin;

}
.project_link_icons img {
    height:3vmin;
    background-color: white;
    padding:0.5vmin;
    border-radius: 2vmin;
}

.project_descripton p {
    max-width: 45ch;
    height: 20vmin;
    font-size: 3vmin;
}


.tech_tabs {
    margin-top: 2vmin;
    display: flex;
    flex-direction: row;
    width: 100%;
} 

.tech_tabs p {
    padding-left: 2vmin;
    padding-top: 1vmin;
    padding-right: 2vmin;
    padding-bottom:1vmin;
    border-radius: 12px;
    width: fit-content;
    height: min-content;
    text-align: center;
    font-size: 2.5vmin;
    color: #d3d3d3;
    gap:2vmin;
}

.tech_tabs p {
    color: white;
    border:1px solid darkblue;
    background-color: var(--navy);
  
}

.p_c_child_right {
    border-left:1px solid grey;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.key_points_one, .key_points_two,
.key_points_three {
    display:flex;
    gap:3vmin;
    padding-left: 2vmin;
    padding-right: 4vmin;
    min-height: 10vmin;
}

.key_points_one p, .key_points_two p,
.key_points_three p {
    text-align: left;
    font-size: 3vmin;
    max-width: 45ch;
}


.icon_title {
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap:2vmin;
    min-width: 14vmin;
}

.icon_title h5 {
    font-size: 2vmin;
    text-align: center;
}


.icon_container {
    height: 4vmin;
    width: 4vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--green);
}

.icon_container img {
    width: 3vmin;
}

@media (max-width:1052px) {
    .project_container {
        display: flex;
        flex-direction: column;
    }

    .p_c_child_right {
        gap:2vmin;
    }

    .next_button:hover {
        cursor: pointer;
    }

    .next_button span {
        opacity: 1;
    }
}