.spaceTwo {
    height: 60dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
}

.spaceTwoContent {
    height: fit-content;
    background-color: white;
    width: 70%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5vmin;
    border:0.2vmin solid lightgray;
    border-radius: 15px;
    padding-bottom: 3vmin;
   
}



.icon-container {
    margin-top: 1vmin;
    background-color: #5ae9b9;
    height: 8vmin;
    width: 8vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon-container img {
    height:5vmin;
}

.spaceTwoBox {
    display: flex;
    flex-direction: column;
    gap:2vmin;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    line-height: 1.5rem;
}

.spaceTwoBox h3 {
    color:#6a5af9;
    margin-top: 1vmin;
}


.frontend {
    border-top-left-radius: 13px;
}

.fullstack {
    border-top-right-radius: 13px;

}
.spaceTwoBox p {
    padding-left: 3vmin;
    padding-right: 3vmin;
    text-align: justify;
    color:black;
    font-size: 2vmin;
    font-family: 'Lato', sans-serif;
    transform: scaleY(1.2);
}



@media (max-width:1140px){
    .spaceTwo {
        height: fit-content;
    }
    .spaceTwoContent {
        flex-direction: column;
        margin-top: 10vmin;
        padding-bottom: 10vmin;
        
    }

    .spaceTwoHeader  {
    top:2vmin;

    }

    .icon-container {
        margin-top: 5vmin;
        
    }
}