* {
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

.spaceOne {
    height: 80dvh;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#purple {
    color:var(--light-purple);
    background: linear-gradient(to top, var(--light-blue) 50%, white 50%);
}

.spaceOneHeader h2 {
    margin-bottom: 5vmin;
    height: fit-content;
    color: black;
}

.spaceOneContent {
    height: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap:10vmin;
    border:0vmin solid var(--light-purple);
    border-radius: 12px;
    background-color: var(--light-purple);
    border:4vmin solid var(--light-purple);
    border-radius: 12px;
}

.spaceOneImageItem {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.getDosed img, .getDosedCom img {
   transition: transform 0.3s ease;
}

.getDosed:hover img {
    transform: scale(2);
}

.getDosedCom:hover img {
    transform: scale(1.5);
}

.spaceOneImageItem img {
    object-fit: cover;
    height: 100%;
    width: 80%;
}

.spaceOneTextItem {
    height: 100%;
    width: 50%;
    text-align:left;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:1vmin;
    line-height: 3.5vmin;
}

.proHeader {
    display:flex;
    flex-direction: row;
    gap:30px;
    color:var(--light-purple)
}

.proHeader h3 {
    color:white;
}

.spaceText p {
    font-size: 2vmin; 
    color: white;
}

.proHeader img {
    height: 4vmin;
    margin-top: -0.5vmin;
    
}

.space-tabs {
    margin-top: 3vmin;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    gap:3vmin;
} 

.space-tabs p {
    padding-left: 2vmin;
    padding-top: 1vmin;
    padding-right: 2vmin;
    padding-bottom:1vmin;
    border-radius: 12px;
    width: 100%;
    text-align: center;
    font-size: 2vmin;
    color: #d3d3d3;
}

.space-tabs p {
    color: white;
    border:1px solid darkblue;
  
}

.space-tabs p:nth-child(1) {
    background-color: var(--blue3) ;
}
.space-tabs p:nth-child(2) {
    background-color: var(--navy);

}
.space-tabs p:nth-child(3) {
     background-color: var(--green);
}
.space-tabs p:nth-child(4) {
    background-color: var(--blue2) ;
}


@media (max-width:1195px) {
.spaceOne {
    height: fit-content;
}

    .spaceOneContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .spaceOneContent {
        margin-bottom: 5vmin;
    }
}


@media (max-width:1000px) {
    
    
    .spaceOneTextItem {
        line-height: 3.5vmin;
        width: 80%;
    }

    .spaceOneImageItem {
        width: 80%;
    }

    .tabs p {
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 12px;
        padding-top: 12px;
        font-size: 0.3rem;
    }
}