* {
    border:0px;
    padding:0px;
    box-sizing: border-box;
}

.techSkills {
    height: 155dvh;
    width: 100dvw;
    background-color: var(--dark-purple);
    display:flex;
    flex-direction: column;
    align-items: center;
}


.techSkills h2 {
    color:#FFA500;
   font-size: 5vmin;
   margin-top: 5vmin;
}

.techSkillsContent {
    margin-top: 5vmin;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--light-purple);
    height:fit-content;
    width: 80dvw;
    gap:6vmin;
    border:2vmin solid var(--light-purple);
    border-radius: 12px;
}

.col-1 {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.col-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-1, .item-2, .item-3, .subjects {
    margin-bottom: 8vmin;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
}

.subjects {
    justify-content: space-evenly;
}


.techSkillsContent h4 {
    color:#3982f7;
    border: 2px solid #3982f7;
    width: fit-content;
    padding-top: 1.7vmin;
    padding-bottom: 1.7vmin;
    padding-right: 3vmin;
    padding-left:3vmin;
    font-size: 2vmin;;
}

.techSkillsContent h3 {
    color: white;
    width: fit-content;
    font-size:3vmin;
    margin-top: 2vmin;
    margin-bottom:2vmin;
    text-align: left;
}

.techSkills p {
    width: fit-content;
    text-align: left;
    line-height: 2.5vmin;
    text-align: justify;
    color:#898d90;
}

.subjects p {
    width: auto;
    background-color: #172453;
    color:white;
    padding-top: 1.7vmin;
    padding-left: 4vmin;
    padding-bottom: 1.7vmin;
    padding-right: 8vmin;
    font-size: 3vmin;
    text-decoration:solid;
    margin-bottom: 45px;
}

@media (max-width:1300px) {

    .techSkills {
        height: fit-content;
    }
    .techSkillsContent {
        grid-template-columns: 1fr 1fr;
        height: fit-content;
    }

}

@media (max-width:1130px) {
    .techSkillsHeader {
        margin-top: 10vmin;
    }
}

@media (max-width:892px) {
    .techSkillsContent {
        grid-template-columns: 1fr;
    }
}