.type-text {
   width: 50%;
   height:200px
  
}

.typeContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:200px;
    gap:00px;
}
.center {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.colortext {
    color:orange;
}

.colortext2 {
    color:red;
}

/* .fixed {
    position: fixed;
    top: 80%;
    left:30%;
    background-color: red;
} */